Django==1.11.13  # rq.filter: >=1.11,<2
Pillow==5.1.0
wagtail==1.12.3  # rq.filter: >=1.12,<2
django-treasuremap==0.2.6
django-leaflet==0.24.0
django-location-field==2.0.3
django-easy-maps==0.9.3
pip-tools==2.0.2
psycopg2==2.7.5
