Django==1.11.18  # rq.filter: >=1.11,<2
Pillow==5.4.1
wagtail==1.13.4  # rq.filter: >=1.12,<2
django-treasuremap==0.2.7
django-leaflet==0.24.0
django-location-field==2.0.6
django-easy-maps==0.9.3
pip-tools==3.3.1
psycopg2==2.7.7